* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #2b2d42;
  background-image: linear-gradient(to right, #45062e, #7f055f);
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 50px;
}

.logo {
  text-align: center;
  color: #d90429;
  font-size: 35px;
  /*letter-spacing: 2px;
  border-bottom: solid 2px #ef233c;
  padding: 10px;
  text-align: center;
  margin: 20px;
  font-size: 35px;
  color: #d90429;*/
}

#navbar {
  width: 100%;
  color: #eee;
  background: #757d8a;
  height: 80px;
  top: 0;
  padding: 10px;
  position: sticky;
}

#navbar-items {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

#navbar-container {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-items li {
  padding: 10px;
}

.login {
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 64px;
  border-radius: 10px;
  color: white;
}

.senha {
  font-size: 15px;
  border-radius: 5px;
  padding: 15px;
  border: none;
  outline: none;
}

.email {
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  padding: 15px;
  border: none;
}

.submit {
  background-color: #45062e;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}

.submit:hover {
  background-color: #7f055f;
  cursor: pointer;
}
