* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #2b2d42;
  background-color: #2b2d42;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 50px;
}

.logo {
  text-align: center;
  color: #d90429;
  font-size: 35px;
  /*letter-spacing: 2px;
  border-bottom: solid 2px #ef233c;
  padding: 10px;
  text-align: center;
  margin: 20px;
  font-size: 35px;
  color: #d90429;*/
}

#navbar {
  width: 100%;
  color: #eee;
  background: #757d8a;
  height: 80px;
  top: 0;
  padding: 10px;
  position: sticky;
}

#navbar-items {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

#navbar-container {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-items li {
  padding: 10px;
}
